// Color
@color-primary: #7464FC;
@color-success: #4CD6C8;
@color-warning: #FFB666;
@color-danger: #FF7B7C;
@color-info: #67CBFF;

@color-black-pure: #000;
@color-white-pure: #FFF;

@color-white-dark: mix(@color-white-pure, @color-primary, 99%);

@color-black: hsl(hue(@color-primary), 3%, 10%);
@color-black-light: hsl(hue(@color-black), 10%, 30%);
@color-black-lighter: hsl(hue(@color-black), 10%, 45%);

@color-gray-darker: hsl(hue(@color-black), 3%, 55%);
@color-gray-dark: hsl(hue(@color-black), 3%, 70%);
@color-gray: hsl(hue(@color-black), 3%, 80%);
@color-gray-light: hsl(hue(@color-black), 3%, 88%);
@color-gray-lighter: hsl(hue(@color-black), 3%, 95%);

@color-gradient-primary: linear-gradient(45deg, @color-primary 30%, #948CE8 90%);
@color-gradient-success: linear-gradient(45deg, @color-success 30%, #5DF6E9 90%);
@color-gradient-warning: linear-gradient(45deg, #FF8B89 30%, @color-warning 90%);
@color-gradient-danger: linear-gradient(45deg, @color-danger 30%, #FF77C1 90%);
@color-gradient-info: linear-gradient(45deg, #6795FF 30%, @color-info 90%);

@color-shadow-primary: rgba(116, 100, 252, .30);
@color-shadow-success: rgba(63, 194, 197, .30);
@color-shadow-warning: rgba(255, 105, 135, .30);
@color-shadow-danger: rgba(255, 119, 193, .30);
@color-shadow-info: rgba(103, 149, 255, .30);
