@import "../../styles/mixins";

.fui-Drawer {
  &-inner {
    position: fixed;
    top: 0;
    z-index: 1001;

    height: 100%;

    background: white;

    &-left {
      left: 0;
    }

    &-left&-enter {
      transform: translate(-100%);

      &&-active {
        transform: translate(0);
        transition: transform .3s;
      }
    }

    &-left&-exit {

      transform: translate(0);

      &&-active {
        transform: translate(-100%);
        transition: transform .3s;
      }
    }

    &-right {
      right: 0;
    }

    &-right&-enter {
      transform: translate(100%);

      &&-active {
        transform: translate(0);
        transition: transform 300ms ease-in;
      }
    }

    &-right&-exit {
      transform: translate(0);

      &&-active {
        transform: translate(100%);
        transition: transform 300ms ease-in;
      }
    }
  }
}
