// Font
@font-size: 14px;
@font-size-small: 12px;
@font-size-large: 16px;
@font-size-huge: 20px;
@font-size-max: 30px;
@font-color: #9B9DAD;
@font-color-light: #BDC3CF;
@font-color-lighter: #D9DCE2;
@font-color-deep: #2C2D30;
@font-disable: #bbb;