@import "../base";

@button-borderRadius: @borderRadius-large;
@button-color: @color-white-pure;
@button-background: @color-gray-dark;

@button-height-small: 28px;
@button-paddingV-small: 7px;
@button-paddingH-small: 10px;
@button-fontSize-small: @fontSize-small;

@button-height-normal: 32px;
@button-paddingV-normal: 8px;
@button-paddingH-normal: 18px;
@button-fontSize-normal: @fontSize;

@button-height-large: 36px;
@button-paddingV-large: 9px;
@button-paddingH-large: 22px;
@button-fontSize-large: @fontSize-large;

@button-color-default: @button-color;
@button-background-default: @button-background;

@button-color-primary: @color-white-pure;
@button-background-primary: @color-primary;

@button-color-success: @color-white-pure;
@button-background-success: @color-success;

@button-color-warning: @color-white-pure;
@button-background-warning: @color-warning;

@button-color-danger: @color-white-pure;
@button-background-danger: @color-danger;

@button-color-info: @color-white-pure;
@button-background-info: @color-info;

@button-color-white: @button-color;
@button-background-white: @color-white-pure;