@import "../base";

@input-borderRadius: @borderRadius-large;
@input-border-color: @border-color-dark;
@input-border-color-hover: fadeout(@color-primary, 40%);
@input-border-color-focus: @color-primary;
@input-color: @fontColor;
@input-label-color: @fontColor;
@input-fill: @color-white-pure;
@input-disabled-fill: @color-gray-lighter;
@input-disabled-color: @fontColor-disabled;

@input-paddingV-small: 7px;
@input-paddingH-small: 8px;
@input-fontSize-small: @fontSize-small;

@input-paddingV-normal: 8px;
@input-paddingH-normal: 10px;
@input-fontSize-normal: @fontSize;

@input-paddingV-large: 9px;
@input-paddingH-large: 12px;
@input-fontSize-large: @fontSize-large;

@input-hover-default: fadeout(@color-gray, 40%);
@input-active-default: @color-gray;

@input-hover-primary: fadeout(@color-primary, 40%);
@input-active-primary: @color-primary;

@input-hover-success: fadeout(@color-success, 40%);
@input-active-success: @color-success;

@input-hover-warning: fadeout(@color-warning, 40%);
@input-active-warning: @color-warning;

@input-hover-danger: fadeout(@color-danger, 40%);
@input-active-danger: @color-danger;

@input-hover-info: fadeout(@color-info, 40%);
@input-active-info: @color-info;

@input-group-borderRadius: @borderRadius-large;
@input-group-fill: @color-gray-lighter;
@input-group-borderColor: @color-gray-light;
@input-group-paddingH: 10px;
